# Android 构建输出
/build/
/.kotlin/
build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
local.properties

# KCEF/Chromium 在工作目录可能产生的 profile 残留
MediaDeviceSalts*
